.wapper {
	height: 100%;
}

.navlist {
	height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;
	list-style: none;
	padding: 5px;
	text-transform: capitalize;
}

.catList {
	background: #252a3a;
	color: white;
}

.postList {
	color: #252a3a;
}
.brand {
	font-weight: bold;
	text-align: center;
}

a {
	cursor: pointer;
	display: block;
	text-decoration: none;
}

img {
	max-width: 100%;
}
