@tailwind base;
@tailwind components;
@tailwind utilities;
a {
    cursor: pointer;
}

iframe {
    width: 100%;
}

main img {
    max-width: 100%;
    height: auto;
}

pre {
    position: relative;
    text-align: left;
    box-sizing: border-box;
    padding: 15px;
    overflow: auto hidden;
    white-space: pre;
    word-break: keep-all;
    overflow-wrap: break-word;
    font-family: Menlo, monospace;
    color: rgb(214, 222, 235);
    background-color: rgb(1, 22, 39);
    font-size: 14px;
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 10px;
}